{% extends "base.twig" %}

{% block content %}
    <div>
        <form action="#" method="post" class="form-signin">
            <p class="lead"> {{ action_message }} </p>
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock %}
