{% extends "base.twig" %}

{% block content %}
    <form action="#" method="post" class="form-signin">
        <p class="lead"> {{ action_message }} </p>
        {{ form_widget(form) }}
    </form>
{% endblock %}
