{% extends "base.twig" %}

{% block content %}
    Hi {{ loggedUser }}, you've logged in successfully
    <a href="/account/logout">Logout</a> | <a href="/account/resetpw">Change password</a>| <a href="/account/edit">Modify</a>
{% endblock %}
